.how-it-works {
  margin: 0 20px;

  @media (min-width: $tablet-width) {
    margin: 0 30px 20px;
  }
}

.how-it-works::after {
  @media (min-width: $tablet-width) {
    content: "";
    display: block;
    width: auto;
    margin: 38px -30px 45px;
    border-bottom: 1px solid #e6e6e6;
  }
}

.how-it-works__title {
  font-size: 36px;
  line-height: 40px;
  font-weight: 400;
  margin: 0 0 40px;

  @media (min-width: $tablet-width) {
    font-size: 60px;
    line-height: 60px;
  }
}

.how-it-works__item {
  font-family: "Lato", sans-serif;
  font-size: 14px;
  line-height: 18px;
  color: $text-color;
  display: flex;
  margin-bottom: 20px;
  align-items: center;

  @media (min-width: $tablet-width) {
    font-size: 16px;
    line-height: 24px;
    padding-top: 32px;
    display: flex;
    flex-direction: column;
    position: relative;
    padding-right: 56px;
    align-items: start;
  }
}

.how-it-works__item--healthy::before {
  content: "";
  box-sizing: border-box;
  flex-shrink: 0;
  margin-right: 20px;
  background-image: url("../../icons/stack.svg#icon-leaf");
  background-size: 30px 32px;
  background-repeat: no-repeat;
  background-position: center;
  width: 60px;
  height: 60px;
  background-color: $bg-basic-green;

  @media (min-width: $tablet-width) {
    width: 80px;
    height: 80px;
    margin-bottom: 31px;
  }
}

.how-it-works__item--healthy::after {
  @media (min-width: $tablet-width) {
    content: "1";
    box-sizing: border-box;
    flex-shrink: 0;
    width: auto;
    height: 280px;
    font-family: "Oswald", sans-serif;
    font-size: 280px;
    line-height: 280px;
    font-weight: 400;
    color: #f2f2f2;
    position: absolute;
    right: 100px;
    top: -8px;
    z-index: -1;
  }
}

.how-it-works__item--powder::before {
  content: "";
  box-sizing: border-box;
  flex-shrink: 0;
  margin-right: 20px;
  background-image: url("../../icons/stack.svg#icon-boil");
  background-size: 30px 32px;
  background-repeat: no-repeat;
  background-position: center;
  width: 60px;
  height: 60px;
  background-color: $bg-basic-green;

  @media (min-width: $tablet-width) {
    width: 80px;
    height: 80px;
    margin-bottom: 31px;
  }
}

.how-it-works__item--powder::after {
  @media (min-width: $tablet-width) {
    content: "2";
    box-sizing: border-box;
    flex-shrink: 0;
    width: auto;
    height: 280px;
    font-family: "Oswald", sans-serif;
    font-size: 280px;
    line-height: 280px;
    font-weight: 400;
    color: #f2f2f2;
    position: absolute;
    right: 80px;
    top: -8px;
    z-index: -1;
  }
}

.how-it-works__item--cutlery::before {
  content: "";
  box-sizing: border-box;
  flex-shrink: 0;
  margin-right: 20px;
  background-image: url("../../icons/stack.svg#icon-eat");
  background-size: 30px 32px;
  background-repeat: no-repeat;
  background-position: center;
  width: 60px;
  height: 60px;
  background-color: $bg-basic-green;

  @media (min-width: $tablet-width) {
    width: 80px;
    height: 80px;
    margin-bottom: 31px;
  }
}

.how-it-works__item--cutlery::after {
  @media (min-width: $tablet-width) {
    content: "3";
    box-sizing: border-box;
    flex-shrink: 0;
    width: auto;
    height: 280px;
    font-family: "Oswald", sans-serif;
    font-size: 280px;
    line-height: 280px;
    font-weight: 400;
    color: #f2f2f2;
    position: absolute;
    right: 76px;
    top: -8px;
    z-index: -1;
  }
}

.how-it-works__item--clock::before {
  content: "";
  box-sizing: border-box;
  flex-shrink: 0;
  margin-right: 20px;
  background-image: url("../../icons/stack.svg#icon-clock");
  background-size: 30px 32px;
  background-repeat: no-repeat;
  background-position: center;
  width: 60px;
  height: 60px;
  background-color: $bg-basic-green;

  @media (min-width: $tablet-width) {
    width: 80px;
    height: 80px;
    margin-bottom: 31px;
  }
}

.how-it-works__item--clock::after {
  @media (min-width: $tablet-width) {
    content: "4";
    box-sizing: border-box;
    flex-shrink: 0;
    width: auto;
    height: 280px;
    font-family: "Oswald", sans-serif;
    font-size: 280px;
    line-height: 280px;
    font-weight: 400;
    color: #f2f2f2;
    position: absolute;
    right: 76px;
    top: -8px;
    z-index: -1;
  }
}

.how-it-works__list {
  margin: 0 0 48px;
  padding-left: 0;
}

@media (min-width: $tablet-width) {
  .how-it-works__list {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 280px 280px;
    gap: 37px 60px;
    margin: 0;
  }
}

@media (min-width: $desktop-width) {
  .how-it-works__list {
    display: flex;
  }
}
